# fly.toml app configuration file generated for 4oak-frontend on 2026-01-05T10:01:40-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = '4oak-ai'
primary_region = 'sjc'

[build]
  [build.args]
    VITE_API_URL = "https://4oak-backend.fly.dev"

[env]
  VITE_API_URL = "https://4oak-backend.fly.dev"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [[http_service.checks]]
    interval = '15s'
    timeout = '10s'
    grace_period = '30s'
    method = 'GET'
    path = '/health'

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256
