# fly.toml app configuration file generated for 4oak-backend on 2026-01-05T09:55:45-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = '4oak-backend'
primary_region = 'sjc'

[build]

[env]
  NODE_ENV = 'production'
  PORT = '3001'

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '15s'
    timeout = '10s'
    grace_period = '30s'
    method = 'GET'
    path = '/health'

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
